.project-flex {
  display: grid;
  grid-template-columns: 40% 40% 40% 40%;
  justify-content: space-between;
  overflow-x: scroll;
  gap: 5%;
}
::-webkit-scrollbar {
  background-color: rgb(53, 53, 173);
}
::-webkit-scrollbar-thumb {
  background-color: rgb(203, 161, 241);
  border-radius: 10px;
}
